
.button-container {
    display: flex;
    flex-direction: column;
    margin-inside: 10px;
    padding-bottom: 200px;
}

.qon-button {
    flex: 1;
    min-height: 30px;
    border-radius: 16px;
    border-width: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.qon-input {
    width: 100px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    border-width: 1px;
    margin-right: 10px;
}

.top-margin {
    margin-top: 10px;
}
